main.main-container
  section.card-container
    .card-container__content
      h4.card-container__content--title
        | Add new book
      form.form
        .card-container__columns

          .card-container__column
            label.card-container__column--label(for='bookName') Book
            input.card-container__column--input(type='text' name="bookName" id="bookName" placeholder='Enter book name')
            small.book-error-msg please enter book name *

          .card-container__column
            label.card-container__column--label(for='authorName') Author
            input.card-container__column--input(type='text' name="authorName" id="authorName" placeholder='Enter author name')
            small.author-error-msg please enter author name *

          .card-container__column
            label.card-container__column--label(for='pagesNumber') Pages
            input.card-container__column--input(type='number' name="pagesNumber" id="pagesNumber" placeholder='Enter number' step='1')
            small.number-error-msg please enter number bigger than 0 *

          .card-container__column
            label.card-container__column--label(for='statue') Statue
            select.card-container__column--select(id="statue" name='statue')
              option(value='read' selected) read
              option(value='not read') not read

        button.card-container__columns--btn(type='submit')
          | Submit

  section.table-container
    h5.table-container__title
      | my Books
    .table-container__content
      table.table
        thead
          tr
            th Book
            th Author
            th Pages
            th Statue
            th Delete
        tbody.books_container
