main.main-container
  section.card-container
    .card-container__content
      h3.card-container__content--title
        | Add new book
      form
        .card-container__columns

          .card-container__column.field
            label.card-container__column--label Book
            input.card-container__column--input(type='text' placeholder='Enter book name')

          .card-container__column.field
            label.card-container__column--label Author
            input.card-container__column--input(type='text' placeholder='Enter author name')

          .card-container__column.field
            label.card-container__column--label Pages
            input.card-container__column--input(type='number' placeholder='Enter number' step='1')

          .card-container__column.field
            label.card-container__column--label Statue
            select.card-container__column--select
              option(value='read' selected) read
              option(value='not read') not read


        button.card-container__columns--btn(type='submit')
          | Submit

  section.table-container
    h4.table-container__title
      | my Books
    .table-container__content
      table
        thead
          tr
            th Book
            th Author
            th Pages
            th Statue
            th Delete
        tbody.books_container
          tr
            td you dont know js
            td kyle simpson
            td 200
            td
              button.button.dark read
            td
              button.delete
          tr
            td js elequent
            td keygen hill
            td 250
            td
              button.button not read
            td
              button.delete
          tr
            td python crash course
            td adolf hitler
            td 300
            td
              button.button.dark read
            td
              button.delete
