head
	meta(charset='utf-8')
	// TODO add a title here
	title library
	meta(name='description', content='calculator')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='theme-color' content="#fff")
	// TODO add a favicon
	link(rel='shortcut icon', href='./images/library-logo.svg')
	link(rel='stylesheet', href='styles/main.css')
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")