.overlay
header.header-container
	h1.visually-hidden
			| Library
			
	nav.nav-container
		.nav-container__logo
			img.nav-container__logo--image(src='./images/library-logo.svg' alt='logo')
			h2.nav-container__logo--title Library

		.nav-container__end
			p.nav-container__end--description
				|	A vanilla JS project from  <strong> The Odin Project </strong>  curriculum.
			.nav-container__end--btn
				a(href="https://github.com/osamamammar" target='_blank')
					button.nav-container__end--btn--gray(type='button')
						img.nav__btn--img(src="./images/github-logo.svg", alt="github-logo")
						|my GitHub
				a(href="https://github.com/osamamammar/library" target='_blank')
					button.nav-container__end--btn--light(type='button')
						img.nav__btn--img(src="./images/github-logo.svg", alt="github-logo")
						|Source code
	.modal-container
		.modal-container__header
			h3.modal-container__header--title Book Removal
			span.modal-container__header--icon
		.modal-container__content
			p.modal-container__content--description Are you sure you want to delete this book ?
			.modal-container__content--cta-container
				button.cta-btn--cancel(type='button')
					|Cancel
				button.cta-btn--delete(type='button')
					|Delete
